/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}



body {
  background-color: #1f1f22;
  font-family: 'Lato', sans-serif;
  padding: 20px;
  display: block;
}

h1 {
  font-size: 56px;
  margin: 0;
  padding: 0;
  color: white;
}
p {
  color: white;
}
button {
  font-family: 'Lato', sans-serif;
  background-color: #1f1f22;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  /*border-radius: 3px;*/
  color: white;
  font-size: 14px;
  padding: 5px;
  transition: 0.2s;
  cursor: pointer;
  text-align: left;
  width: 300px;
}
button:hover {
  /*padding-right: 100px;*/
  background-color: #ff5601;
}
